@charset "UTF-8";
/* CSS Document */


input:focus{
	
	outline:none !important;
	
}


button:focus{
	
	outline:none !important;
	
}
a{
	
	color: black;
	text-decoration: none;
}

a:visited{

	color: black;

}


body{
	
	font-family: "Futura", "Futura PT", "Arial", sans-serif;
	background-color: white;

}

#logo{
	
	width: 80%;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.navlink{
	
	font-size: 60px;
	text-align: center;
	padding: 10px;
	
}


.button-stack{
	
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	height: 200px;
	
}

#sns{
	
	display: none;
	
}

#design{
	
	border-bottom: 30px solid purple;
	color: black;
	bottom: 0px;
	position: relative;
	
	transition-property: color, border, bottom;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	
}

#design:hover{
	
 	color: purple;
	bottom: 20px;
	border-bottom: 50px solid purple;
	
}

#code{
	
	color: black;
	border-bottom: 30px solid green;
	bottom: 0px;
	position: relative;
	
	
	transition-property:  color, border, bottom;
	transition-timing-function: ease;
	transition-duration: 0.2s;
	
}

#code:hover{
	
	color: green;
	border-bottom: 50px solid green;
	bottom: 20px;
	
}

#ideas{
	
	border-bottom: 30px solid royalblue;
	color: black;
	position: relative;
	bottom: 0px;
	
	transition-property: color, bottom, border;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	
}

#ideas:hover{
	
	color: royalblue;
	border-bottom: 50px solid royalblue;
	bottom: 20px;
	
}

#minis{
	
	border-bottom: 30px solid orangered;
	color: black;
	
	position: relative;
	bottom: 0;
	
	
	transition-property: color, border, bottom;
	transition-timing-function: ease;
	transition-duration: 0.1s;
	
}

#minis:hover{
	
	color: orangered;
	bottom: 20px;
	border-bottom: 50px solid orangered;
	
}

.element{
	
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	
}
.element-main{
	
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
	transform: scale(1.0);
	
	transition: transform ease 0.1s;
	
}


.bigbig{
	font-size: 120px;
	margin: 0;
	
}
.big{
	
	font-size: 80px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	
	transition: font-size ease 0.1s;
	
}

.banner{
	
	width: 100%;
	opacity: 1;
	
	transition-property: opacity;
	transition-timing-function: ease;
	transition-duration: 0.2s;
	
}

.banner-static{
	
	width: 100%;
}


.element-main:hover .banner{
	
	opacity: 0.7;
	
}

.element-main:hover{
	
	transform: scale(1.03);
	
}

.half-half{
	margin-left: 5%;
	margin-right: 5%;
	
}


.abstract{
	
	font-size: 30px;
	margin-bottom: 40px;
	text-align: center;
	font-family: "Arial", sans-serif;
	
	
}

.calckey{
	
	width: 100px;
	height: 100px;
	border: 5px solid lightgray;
	font-family: "futura", sans-serif;
	border-radius: 40px;
	font-size: 40px;
	background-color: white;
	color: black;
	
	transition-property: background-color, color;
	transition-timing-function: ease;
	transition-duration: 0.2s;
}

.calckey:hover{
	
	background-color: black;
	color: white
	
}
.table{
	
	margin: auto;
}

#displaybox{
	
	width: 360px;
	height: 60px;
	padding: 20px;
	border: 5px solid lightgray;
	margin-bottom: 20px;
	border-radius: 40px;
	
	font-size: 40px;
	font-family: "futura", sans-serif;
	
}

.inputsection{
	
	background-color: black;
	border-radius: 10px;
	
	
}


.inputbox{

	background-color: white;
	font-size: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 5px solid white;
	font-family: "futura", sans-serif;
	margin-left: 80px;
	margin-right: 80px;
	width: 600px;
	
	
}

#typebox{
	
	margin-bottom: 40px;
	margin-top: 20px;
	background-color: white;
	box-shadow: 0 0 white;
	
	transition-property: background-color, box-shadow;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
	
}


#morsebox{
	
	margin-bottom: 20px;
	margin-top: 40px;
	
}

.button1{
	
	width: 150px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	font-family: "futura", sans-serif;
	font-size: 20px;
	border-radius: 10px;
	border: 5px solid white;
	box-shadow: 0 0 black;

	background-color: white;
	color: black;
	transform: scale(1.0);

	transition-property: transform, box-shadow;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
	
}

.button1:hover{
	
	transform: scale(1.05);
	box-shadow: 0 0 20px white;
	
}



.box{
	
	width: 150px;
	height: 150px;
	background-color: black;
	color: white;
	font-size: 100px;
	
}

#newBoggle{
	
	background-color: black;
	color: white;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	
	transform: scale(1.0);
	
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

#newBoggle:hover{
	
	transform: scale(1.05);
	
}

.img25{
	
	width: 400px;
	margin: 10px;
	
}

.abstract a{
	
	color: dodgerblue;
	
	transition-property: color;
	transition-timing-function: ease-in;
	transition-duration: 0.2s;
	
}

.abstract a:hover{
	
	color: blue;
	
}



.controls{

	display: flex;

	position: absolute;
	bottom: 10px;
	left: 0;
	margin: 0;


	justify-content: center;
}

.btn-stack{

	margin: 0;
	font-family: "Arial", sans-serif;

	width: 33.33333vw;
	z-index: 4;

}

.game-btn{

	background-color: white;
	opacity: 0.5;
	margin: 0;
	text-align: center;
}



.game-btn:hover{

	opacity: 0.8;
}

#left-btn{

	height: 100px;
}

#up-btn{

	height: 50px;
}

#down-btn{

	height: 50px;
}

#right-btn{

	height: 100px;
}


